@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* dark slate (Tailwind slate-900) */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), system-ui, sans-serif;
}
